@font-face {
    font-family: "TattooShop";
    src: url(assets/fonts/tattoo_shop.otf);
}

body{
    width: auto;
    margin: 0;
    background-color: white;
}

header{
    background-color: #121215;
    padding: 2em;

}



.introduction{
    background-color: #121215;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.9)), url("cat.jpeg");
    background-blend-mode: luminosity;
    justify-content: center;
    background-position-x: 25%;
    background-position-y: 25%;
    background-size: cover;
    color: #f8b917;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    /*clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);*/
}



h1{
    font-family: "TattooShop", sans-serif;
    font-size: 4em;
    
}

h1::after{
    content: "Patricia Yáñez";
    font-family: 'Kenia', sans-serif;
    display: block;
    font-size: 0.5em;
    letter-spacing: 0.2em;
}

address{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

address a {

    color: white;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-decoration: none;
}

.introduction p {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2em;
}

#gallery{
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

#gallery h2{
    display: flex;
    justify-content: center;
    padding: 2em;
    margin:0;
    color:#121215;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

figure {
    margin: 0;
    
}

.npf_row figure img {
   width: 100%;
  
}

footer{
    background-color: #f8b917;
    margin: 0;
}